<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="liget-proxy" value="http://192.168.0.67:9011/api/cache/v3/index.json" protocolVersion="3" />
    <add key="liget" value="http://192.168.0.67:9011/api/v2" protocolVersion="2" />
  </packageSources>
</configuration>